In [4]:
import pandas as pd
import numpy as np

rfm=pd.read_csv(r"C:\Users\hp\Desktop\RFM_analysis\rfm_table.csv")

rfm['R_score']=pd.qcut(rfm['Recency'],5,labels=[5,4,3,2,1])
rfm['F_score']=pd.qcut(rfm['Frequency'].rank(method='first'),5,labels=[1,2,3,4,5])
rfm['M_score']=pd.qcut(rfm['Monetary'],5,labels=[1,2,3,4,5])
rfm

      CustomerID  Recency  Frequency  Monetary R_score F_score M_score
0        12346.0      326          1  77183.60       1       1       5
1        12347.0        2          7   4310.00       5       5       5
2        12348.0       75          4   1797.24       2       4       4
3        12349.0       19          1   1757.55       4       1       4
4        12350.0      310          1    334.40       1       1       2
...          ...      ...        ...       ...     ...     ...     ...
4334     18280.0      278          1    180.60       1       2       1
4335     18281.0      181          1     80.82       1       2       1
4336     18282.0        8          2    178.05       5       3       1
4337     18283.0        4         16   2094.88       5       5       5
4338     18287.0       43          3   1837.28       3       4       4

[4339 rows x 7 columns]

In [5]:
rfm['RFM_Score']=rfm[['R_score','F_score','M_score']].sum(axis=1)
rfm

,CustomerID,Recency,Frequency,Monetary,R_score,F_score,M_score,RFM_Score
0,12346.0,326,1,77183.60,1,1,5,7
1,12347.0,2,7,4310.00,5,5,5,15
2,12348.0,75,4,1797.24,2,4,4,10
3,12349.0,19,1,1757.55,4,1,4,9
4,12350.0,310,1,334.40,1,1,2,4
...,...,...,...,...,...,...,...,...
4334,18280.0,278,1,180.60,1,2,1,4
4335,18281.0,181,1,80.82,1,2,1,4
4336,18282.0,8,2,178.05,5,3,1,9
4337,18283.0,4,16,2094.88,5,5,5,15
4338,18287.0,43,3,1837.28,3,4,4,11

In [10]:
def segment(row):
    if row['RFM_Score']>=12:
        return'Champion'
    elif row['RFM_Score']>=9:
        return'Loyal'
    elif row['RFM_Score']>=6:
        return'At_Risk'
    else:
        return'Lost'

rfm['Segment']=rfm.apply(segment,axis=1)

In [11]:
rfm

,CustomerID,Recency,Frequency,Monetary,R_score,F_score,M_score,RFM_Score,Segment
0,12346.0,326,1,77183.60,1,1,5,7,At_Risk
1,12347.0,2,7,4310.00,5,5,5,15,Champion
2,12348.0,75,4,1797.24,2,4,4,10,Loyal
3,12349.0,19,1,1757.55,4,1,4,9,Loyal
4,12350.0,310,1,334.40,1,1,2,4,Lost
...,...,...,...,...,...,...,...,...,...
4334,18280.0,278,1,180.60,1,2,1,4,Lost
4335,18281.0,181,1,80.82,1,2,1,4,Lost
4336,18282.0,8,2,178.05,5,3,1,9,Loyal
4337,18283.0,4,16,2094.88,5,5,5,15,Champion
4338,18287.0,43,3,1837.28,3,4,4,11,Loyal

In [13]:
rfm.to_csv('rfm_segments.csv',index=False)