In [9]:
import pandas as pd
import numpy as np

# pd.set_option('display.max_rows',541909)      
# pd.set_option('display.max_columns', None)   
pd.set_option('display.width',8)         
# pd.set_option('display.max_colwidth', None)
df=pd.read_csv(r'C:\Users\hp\Desktop\RFM_analysis\data.csv',encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [11]:
df=df.dropna(subset=['CustomerID'])

In [12]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [13]:
df=df[df['Quantity']>0]

In [25]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
df['TotalPrice']=df['Quantity']*df['UnitPrice']
df=df[df['Country'].notnull()]

In [26]:
print(df.describe())

            Quantity  \
count  397924.000000
mean       13.021823
min         1.000000
25%         2.000000
50%         6.000000
75%        12.000000
max     80995.000000
std       180.420210

                         InvoiceDate  \
count                         397924
mean   2011-07-10 23:43:36.912475648
min              2010-12-01 08:26:00
25%              2011-04-07 11:12:00
50%              2011-07-31 14:39:00
75%              2011-10-20 14:33:00
max              2011-12-09 12:50:00
std                              NaN

           UnitPrice  \
count  397924.000000
mean        3.116174
min         0.000000
25%         1.250000
50%         1.950000
75%         3.750000
max      8142.750000
std        22.096788

          CustomerID  \
count  397924.000000
mean    15294.315171
min     12346.000000
25%     13969.000000
50%     15159.000000
75%     16795.000000
max     18287.000000
std      1713.169877

          TotalPrice
count  397924.000000
mean       22.394749
min         0.000000
25%         4.680000
50%        11.800000
75%        19.800000
max    168469.600000
std       309.055588

In [27]:
print(df.shape)

(397924, 9)

In [28]:
df.to_csv('cleaned_data.csv',index=False)